<aside class="col-md-4 sidebar">
	<div class="widget">
		<h4 class="title">社区</h4>
		<div class="content community">
			<p><strong>QQ群：</strong>656898422</p>
			<p><strong>官方email：</strong>service@caisangzi.com</p>
			<p>
				<a href="" title="" target="_blank">
					<i class="fa fa-comments"></i> 问答社区
				</a>
			</p>
		</div>
	</div>

	<div class="widget">
		<h4 class="title">下载</h4>
		<div class="content download">
			<a href="#" class="btn btn-default btn-block">CAI 一键安装包下载</a>
		</div>
	</div>

	<div class="widget">
		<h4 class="title">文档</h4>
		<a href="" class="btn btn-default btn-block" target="_blank">CAI 1.0 文档</a> 
	</div>
</aside>