<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<base href="<?php echo base_url();?>"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="HandheldFriendly" content="True">
	<title><?php echo $single['title']."_".$config_web['title']; ?></title>
	<meta name="description" content="<?php echo $single['des']; ?>">
	<meta name="keywords" content="<?php echo $single['keywords']; ?>">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/9.0.0/styles/vs.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	
	<?php $this->load->view("layout/header.html"); ?>

	<?php $this->load->view("layout/nav-menu.html"); ?>
	<section>
		<div class="container">
			<div class="row">
				<main class="col-md-8 main-content">

					
					<article>
						<div class="article-head">
							<h3><?php echo $single['title']; ?></h3>
							<div class="mata">
								<span class="author">
									作者：<a href="javascript:;"><?php echo $single['author']; ?></a>
								</span>
								<time><?php echo date('Y-m-d',$single['createtime']); ?></time>
							</div>
						</div>

						<?php if ( !empty($single['pic']) ): ?>
						<div class="featured-media">
							<a href="javascript:;"><img src="<?php echo $single['pic']; ?>" alt="<?php echo $single['title']; ?>"></a>
						</div>	
						<?php endif ?>
						
						<div class="article-content">
							<?php echo $single['body']; ?>
						</div>
						
						<footer class="article-footer clearfix"></footer>
					</article>	
				</main>
				
				<?php $this->load->view("layout/aside.html"); ?>

			</div>
		</div>
	</section>
	
	<?php $this->load->view("layout/foot.html"); ?>

	<?php $this->load->view("layout/copyright.html"); ?>

	<a href="#" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>


	<!-- javascript	 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
	<script src="http://cdn.bootcss.com/highlight.js/9.0.0/highlight.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){

		$(window).scroll(function() {
            $(this).scrollTop() > 100 ? $("#back-to-top").fadeIn() : $("#back-to-top").fadeOut()
        });

        $("#back-to-top").on("click",function(e){
            return e.preventDefault(),
            $("html, body").animate({scrollTop: 0},1e3),!1;
        });

	})
	</script>

</body>
</html>