<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="member/"><i class="fa fa-dashboard fa-fw"></i> 仪表盘</a>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-user fa-fw"></i> 个人信息<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="member/show/"> 详细信息</a>
                    </li>
                    <li>
                        <a href="member/show_authority/"> 拥有权限</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> 互动专区<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="member/list_guestbook"> 留言列表</a>
                    </li>
                    <li>
                        <a href="javascript:;"> 近期行业活动</a>
                    </li>
                </ul>
            </li>
            
            
            <li>
                <a href="javascript:;"><i class="fa fa-rmb fa-fw"></i> 服务情况<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="member/add_demand_tpl/">发布需求</a>
                    </li>
                    <li>
                        <a href="member/list_demands/">进行中服务</a>
                    </li>
                    <li>
                        <a href="javascript:;">已经完成案例</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="javascript:;"><i class="fa fa-gear fa-fw"></i> 设置<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="member/logout/">登出</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>